<!DOCTYPE html>
<html lang="pt-br" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="js/libs/bootstrap/css/bootstrap.min.css">
    <!--Arquivo Angular JS-->
    <script src="js/libs/angular/angular.min.js"></script>
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div class="container">
        <h1 class="title mt-4">Exercicio</h1>
        <h3>Angular 1</h3>
        <hr>
        <label for="nome">Nome Completo: </label>
        <input class="form-control" type="text" id="nome" ng-model="nome">
        <label for="trabalho">Lugar de Trabalho: </label>
        <input class="form-control" type="text" id="trabalho" ng-model="trabalho">
        <label for="salario">Salário em Dólares: </label>
        <input class="form-control" type="text" id="salario" ng-model="salario">
        <hr>
        <p>Nome: {{nome | uppercase}} </p>
        <p>Lugar de Trabalho: {{trabalho | lowercase}} </p>
        <p>Salário: {{salario | currency}} </p>
    </div>
</body>
</html>